# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
dist
build
.turbo
out

# Environment files
.env
.env.local
.env.*.local
!.env.example

# Prisma
packages/db/generated

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage
playwright-report
test-results

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# Misc
*.tsbuildinfo
.vercel
